.navbar {
color: white;
display: flex;
justify-content: space-around;
font-size: calc(10px +15 * (100vw - 320 px)/800); 
}
.correct {
  animation: growCorrerct 0.5s;
  animation-iteration-count: 1;
}
.incorrect {
  animation: growIncorrerct 0.5s;
  animation-iteration-count: 2;
}
@keyframes growCorrect {
  0% {transfrom:scale(1); color: white;}
  25% {transfrom:scale(1.5)}
  50% {transfrom:scale(1.75); color: rgb(29, 145, 54);}
  50% {transfrom:scale(1.5)}
  100% {transfrom:scale(1); color: white;}
}

@keyframes growInCorrect {
  0% {transfrom:scale(1); color: white;}
  25% {transfrom:scale(1.5) }
  50% {transfrom:scale(1.75); color: rgb(219, 28, 60);}
  50% {transfrom:scale(1.5) }
  100% {transfrom:scale(1); color: white;}
}